.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../public/images/pawel-czerwinski-OG44d93iNJk-unsplash.jpg);
}